
*{
  margin:0px;
  padding:0;
  font-family: 'NanumSquare', sans-serif;
  list-style: none;
  font-size: 14px;
}

.find-id {
  margin:10px;
  width: 400px;
  height: 350px;
  background-color: rgb(240, 240, 240);
}

.find-pw{
  margin:10px;
  width: 400px;
  height: 350px;
  background-color: rgb(240, 240, 240);
  
}

h1{
  color:#707070;
  font-size: 18px;
  text-align: center;
  margin:30px;
}

ul{
  margin-left: 200px;
  margin-top:100px;
  display: flex;
}

li{
  padding-left: 30px;
}

#name{
  margin-top: -500px;
}


input{
  
  width: 65%;
  margin:0px 20px 20px 0px;
  padding:5px 5px 5px 10px;
  background-color:white;
  border: 1px solid #999;
  border-radius: 10px;
  font-size: 12px; color: rgb(0, 0, 0);
}

.ID_check_btn{
  margin-left: -5px;
  margin-top:-30px;
  width: 80px; height: 25px;
  padding: 5px 5px 5px 5px;
  background-color:rgb(140, 186, 218);
  border-radius: 5px;
  font-size: 10px;
}

#pw_btn{
  margin-top: 70px;
}


button{
  margin-left:150px;
  margin-top:30px;
  width: 100px; height: 25px;
  padding: 5px 5px 5px 5px;
  background-color:rgb(140, 186, 218);
  border: none;
  border-radius: 5px;
  font-size: 10px;
}